body {
    margin: 0;
    padding: 0;
}
.nav-container{
    position: fixed;
    height: 73px;
    width: 100%;
    background-color: white;
    box-shadow: 4px 3px 8px rgba(0, 0, 0, .15);
    margin-top: -79px;
}
.navbar{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 10px;

}
.logo{
    height: 40px;
    width: 40px;
    padding-left: 317px;
    padding-top: 9px;
    padding-right: 0px;
    cursor: pointer;
}
nav{
    flex: 1;
    padding-left: 1px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    font-size: 16px;
    padding: 9px;
    padding-top: 0px;
    color: gray;
    text-decoration: none;
    font-family: SoDoSans_Semibold,Helvetica,sans-serif;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type="search"] {
    text-indent: 18px;
    padding: 13px 25px;
    border: none;
    border-radius: 20px; 
    font-size: 10px;
    font-family: SoDoSans_Semibold, Helvetica, sans-serif;
    margin-right: 450px;
    width: 280px;
    box-shadow: 4px 3px 15px rgba(0, 0, 0, .10);
    margin-right: 72px;
}
.search{
    position: fixed;
    padding-left: 20px;
    font-size: large;
}

.account {
    float: left;
    margin-right: 330px; 
    cursor: pointer;
}

.home-link:focus,
.gift-link:focus,
.order-link:focus,
.pay-link:focus,
.store-link:focus {
    font-weight: bold;
    border-bottom: 2px solid #00754a;
}

.top-banner{
    background-color: #1e3932;
    height: 80px;
    margin-top: 80px;

}

.banner-content{
    color: white;
    display: flex;
    align-items: center;
    padding-left: 320px;
    cursor: pointer;
    margin-top: 72px;
}

.banner-button {
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    color: white;
    height: 30px;
    width: 110px;
    border-radius: 50px;
    margin-left: 750px;   
    cursor: pointer; 
}

.banner-text{
    font-family: SoDoSans_Light,Helvetica,sans-serif!important;
    font-size: 20px;
    font-weight: 300;
}

.handcrafted-curations{
    display: flex;
}
.handcrafted-curations{
    margin-left: 320px;
}
.handcrafted-text{
    font-family: SoDoSans_Light,Helvetica,sans-serif!important;
    font-size: 17px;
    font-weight: 300;
    color: #1e3932;
}

.cat-img{
    display: flex;
    
}

.handipacked-item{
    align-items: center;
}

.handipacked-item img{
    margin-top: 14px;
    margin-right: 127px;
    margin-left: auto;
    width: 108px;
    height: 108px;
    border-radius: 60px;
    align-items: center;
}

.handipacked-item p{
    text-align: center;
    /* margin-left: 8px; */
    width: 100px;
    font-family: SoDoSans_Semibold,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #212529;
    margin: 5px 8px 24px;
}

.suggestion{
    display: flex;
    align-items: center;
}
.suggestion-container{
    display: flex;
    margin-top: 70px;
    height: 220px;
    width: 1280px;
    background-color: #dec49c;
    margin-right: 320px;
    margin-left: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, .30);
    cursor: pointer;
}
.suggestion-container img{
    width: 106px;
    margin-right: 20px;
}

.card-text p {
    display: flex;
    font-family: SoDoSans_Regular, Helvetica, sans-serif;
    margin-left: 34px;
    color: #212529;
    margin-bottom: 2px;    
}
.title-text{
    margin-top: 27px ;
    margin-bottom: 6px;
}
.card-head {
    font-size: 20px;
    font-weight: bold;
    color: #212529;
    margin-top: 10px;

}
.card-price{
    height: 50px;
    width: auto;
    font-size: 12px;
    margin-top: 50px;
    color: #212529;
    font-family: SoDoSans_Regular, Helvetica, sans-serif;
}
.card-rate{
    margin-top: 3px;
    font-size: 14px;
    font-weight: bold;
}
.card-order{
    color: white;
    font-weight: bold;
    margin-left: 270px;
    margin-top: 140px;
    height: 49px;
    width: 200px;
    border-radius: 50px;
    border-width: 0px;
    background-color: #00754a;
    box-shadow: 4px 3px 15px rgba(0, 0, 0, .10);
    cursor: pointer;

}

.left-arrow{
    position: relative;
    left: 286px;
    top: 50px;
    opacity: 40%;
    cursor: pointer;
}
.right-arrow{
    position: relative;
    left: 1486px;
    top: 50px;
    cursor: pointer;
}
.offer-discovery{
    margin-top: 40px;
    margin-left: 300px;
    display: flex;
}








.card1-container{
    width: 407.33px;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 7px 10px rgba(0, 0, 0, 0.1), 
                -8px -7px 10px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    /* border-bottom-right-radius: 20px; */
}
.offer-image img{
    width: 407.33px;
    height: 167px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card1-body{
    margin-left: 25px;
    
}
.card1-text p{
    width: 70px;
    font-size: 10px;
    display: flex;
    margin-top: 3.5px;
    margin-left: 6.5px;
    font-family: SoDoSans_Regular, Helvetica, sans-serif;
    font-weight: 740;
    color: #00754a;
    background-color: #d1f3e9;
    border-radius: 20px;
}
.card1-text{
    display: flex;
}

.mocha{
    margin-top: 0px;
    font-size: 14px;
    font-family: SoDoSans_Regular, Helvetica, sans-serif;
    color: #1e3932;
    font-weight: 550;
    margin-bottom: 0px;
}

.lower-title{
    font-size: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #6c757d;
    margin-top: 0px;
}

.description p{
    font-size: 11px;
    width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #6c757d;
}
.card1-bottom{
    display: flex;
}
.price{
    font-size: 14px;
}
.card1-add-item{
    margin-left: 210px;
    margin-top: 1px;
    color: white;
    font-weight: bold;
    height: 32px;
    width: 96px;
    border-radius: 50px;
    border-width: 0px;
    background-color: #00754a;
    box-shadow: 4px 3px 15px rgba(0, 0, 0, .10);
    cursor: pointer;
}


.card2-container{
    margin-left: 437px;
    width: 407.33px;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 7px 10px rgba(0, 0, 0, 0.1), 
                -8px -7px 10px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
}

.card3-container{
    margin-top: -331px;
    margin-left: 874px;
    width: 407.33px;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 7px 10px rgba(0, 0, 0, 0.1), 
                -8px -7px 10px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
}

.body-cards{
    margin-top: 0px;
    height: 0px; 
    width: auto;
}



.recomends{
    margin-top: 80px;
    background-color: #edebe9;
}


.barista{
    margin-left: 300px;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
}
.barista h3{
    font-family: SoDoSans_Bold,Helvetica,sans-serif!important;
    color: #1e3932;
}
.barista button{
    margin-left: 990px;
    border: none;
    color: #00754a;
    font-weight: bold;
    cursor: pointer;
    
}

.puff-container{
    margin-left: 214px;
    margin-right: 228px;
    background-color: #edebe9;
    height: 215px;
    display: flex;
    justify-content: space-evenly;
    gap: 2px;
    border-color: #212529;
    border: #212529;
}

.card-2{
    width: 384px;
    background-color: white;
    height: 160px;
    /* display: flex;
    justify-content: space-around; */
    box-shadow: 0 2px 4px #00000012,0 4px 5px #0000000f,0 1px 10px #0000001a;
    border-radius: 8px;
    
}
.hazelnut{
    width: 100%;
    /* background-color: pink; */
    height: 105px; 
    display: flex;
    align-items: center;

}
.hz{
    height: 80px;
    width: 80px;
    border-radius: 8px;
    object-fit: cover;
    margin-left: 25px;

}
.vg{
    width: 16px;
    height: 16px;
    margin-bottom: 50px;
    margin-left: 15px;

}
.food{
    color: #000;
    font-size: 14px;
    font-family: Helvetica,sans-serif!important;
    margin-left: -16px;
}

.price-2 {
    width: 96px;
    height: 32px;
    padding: 0;
    background-color: #00754a;
    border: none;
    border-radius: 21px;
    color: #f9f9f9;
    font-family: Helvetica,sans-serif;
    outline: none;
}

main-3{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    gap: 162px;
    margin-top: 10px;
}
.add-item{
    margin-bottom: 20px;
}

/* cofeebean */


.learn-container{
    background-color: #edebe9;
}

.learn{
    margin-left: 230px;
    width: 800px;
    height: 93px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
.learn button{
    border: none;
    color: #00754a;
    background-color:  #edebe9;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    cursor: pointer;
}

.learn p {
    font-family:Helvetica,sans-serif!important;
    color: #1e3932;
    font-size: 1.5rem;
    font-weight: bolder;
    font-weight: 600;
}

.backimg{
    background-color:  #edebe9;
    margin-left: 193px;
    width: 100%;
    height: 400px;
}
.cofeeculture{
    background-color: black;
    width: 1300px;
    height: 355px;
    margin-left: 100px;
    background-size: cover;
    border-radius: 8px;
}


.cofeeculture img{
    width: 1300px;
    height: 355px;
    border-radius: 20px;
}
.cofeeculture img:hover{
    color: #212529;
    
}
.culture{
    font-size: 24px;
    font-family:Helvetica,sans-serif;
    font-weight: bold;
    color: white;
    margin-left: 140px;
    margin-top: -150px;
}
.hh{
    font-size: 14px;
    font-family:Helvetica,sans-serif!important;
    font-weight: 00;
    color: #ffffff;
    margin-left: 140px;
    margin-top: 10px;
    
}
.more{
    height: 33px;
    width: 11rem;
    border-radius: 20px;
    border: none;
    color: black;
    background: #fff;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 140px;
}

.footer{
    width: 100%;
    height: 325px;
    background-color: #0e382c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    color: #f9f9f9;
    font-family:Helvetica,sans-serif!important;
}
.description-container{
    width: 80%;
    height: 280px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
}
.logo-sec{
    /* background-color: rosybrown; */
    height: 250px;
    width: 15%;
    color: #fff;
    
}
.cofee-house li a  {
    color: #fff;
    text-decoration: none;
}
/* .cofee-house {
    color: #fff;
}
.all{
    color: #fff;
} */


.s-logo{
    width: 40p;
    height: 70px;
    
}
.cofee-house{
    list-style: none;
    text-emphasis: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* line-height: 10px; */
}
.cofee-house span{
    font-weight: bold;

}
.cofee-house li :hover{
    color: gray;
    transition: 0.4s ease;
}
.insta{
    display: flex;
    margin-top: 10px;
    margin-left: 40px;

}
.logo-sec .app{
    width: 175px;
    height: 58px;
}
.final-footer{
    height: 70px;
    width: 100%;
    background-color: #0e382c;
  
}
.terms{
    display: flex;
    justify-content: start;
    
 
    
}
.terms li a{
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.web
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 70px;
    /* background-color: yellow; */
    margin-left: 204px;
}
.reserved{
   font-size: 12px;
   
}
.reserved li a{
    list-style: none;
    text-decoration: none;
    color: #f9f9f9;
}
